div{
    text-align: center;
    color: white;
    margin: 0px 20px 50px 20px;
    padding: 20px 25px 20px 25px;
    font-style: italic;
    font-size: 30px;
    font-weight: bold;
    height: 70px;
    width: 500px;
    display: block;
    justify-content: space-between;
}

.full {
    background-image: url(12_restaurant-air-filtration-system.jpg);
    height:100%;
    background-attachment: fixed;
    background-size:cover ;
    background-repeat: no-repeat;
    width:100%;
}
whole{
    background: rgb(0,0,0,.5);
    height: 100vh;
    width: 1500px;
}
#back{
    background:#5e5b59;
    height: 410px;
    border-left: 5px solid white;
    border-bottom: 5px solid white;
    margin: 10px 0px 20px 80px;
}
#menu{
    background:#6a040f;
    margin-bottom: 5px;
    margin-top: 5px;
    height: 100px;
    font-size: 45px;
}
#table{
    margin-bottom: 5px;
    margin-top:20px ;
    height: 100px;
    font-size: 45px;
    background:#6a040f;
}
#catering{
    margin-bottom: 10px;
    margin-top:20px ;
    height: 100px;
    font-size: 45px;
    background:#6a040f;
}
#menu:hover{
    background: url(Images/istockphoto-1384278986-612x612.jpg);
    font-size: 60px;
    color:white;
}
#table:hover{
    background: url(Images/table.jpg);
    font-size: 60px;
    color:#370617;
}
#catering:hover{
    background: url(Images/istockphoto-1154947817-612x612.jpg);
    font-size: 60px;
    color: black;
}